
                                        /* ++++GENERAL++++*/

/* Keeps image at bottom right*/
.TorenImage{
    height: 500px;
    width: auto;
}

                                        /* ++++NAVIGATION++++ */

/* Font size and color*/
.nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: black;
    text-decoration: none;
}

/*First letter stays black*/
.nav a::first-letter{
    color: black;
}

/* Link turns green on hover*/
.nav a:hover{
    color: rgba(1,78,25,255);
    color: rgb(155,186,97);
}

/* Position */
#navbar-position{
    margin-top: 120px;
}

/* Smaller font size for small devices */
@media (max-width: 650px) {
    .nav-link {
      font-size: 75px !important; 
    }
}

                                        /*++++FOOTER++++*/

/*Footer position*/

footer{
    bottom:0;
}

@media (max-height: 850px) {
    footer{
        position: fixed;
        top: 770px;
    }
}

/* Footer logo's */
.footerlogo {
    height: 50px;
    margin: 15px;
    filter: grayscale();
}

/*Footer logo's get color back on hover*/
.footerlogo:hover {
    filter: none;
}
