
                                        /* ++++GENERAL++++*/

/* Keeps image at bottom right*/
.TorenImage{
    height: 500px;
    width: auto;
}

/* Keeps z-index of Klooz logo negative*/
.kloozLogo{
    z-index: -100;
}



                                        /* ++++NAVIGATION++++ */

/* Font size and color*/
.nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    color: black;
    text-decoration: none;
}

/*First letter stays black*/
.nav a::first-letter{
    color: black;
}

/* Link turns green on hover*/
.nav a:hover{
    color: rgba(1,78,25,255);
    color: rgb(155,186,97);
}

/* Position */
#navbar-position{
    margin-top: 120px;
}

/* Smaller font size for small devices */
@media (max-width: 650px) {
    .nav-link {
      /* font-size: 75px !important;  */
      font-size: 3.5rem !important; 
    }
}

.smallfont{
    font-size: 48px !important;
    margin:-16px;
}

                                        /*++++FOOTER++++*/

/*Footer position*/

footer{
    position:fixed;
    bottom:0;
    width: 100vw;
    background-color: white;
}

@media (max-height: 850px) {
    footer{
        position: static;
        top: 770px;
    }
}

/* Footer logo's */
.footerlogo {
    height: 4vh;
    margin: 15px;
    filter: grayscale();
}

/*Footer logo's get color back on hover*/
.footerlogo:hover {
    filter: none;
}

/* Copy right sizing */
#copyright{
    font-size: 0.75rem;
}